<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document Title</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="/EarthStar.css">
  </head>
  <body>
      
    <div id="wrapper">
      <nav class="navbar">
  <a class="navbar-brand" href="/video">
    <img src="/images/earthstarlogo.jpg" class="d-inline-block align-top" alt="">
  </a>
          <ul class="nav">
              <li>Home</li>
              <li>Popular</li>
              <li>Share</li>
          </ul>
        
<form class="form-inline">
<input class="form-control" type="search" placeholder="Search Video" aria-label="Search">
<button class="btn" type="submit"></button>
</form>
</nav>
   
      

    